.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.item  {
    padding: 5px;
}

.img-size{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1280px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .grid-container  {
        grid-template-columns: 1fr;
        margin: 6px 0;
    }
}